[Unit]
Description=Kodi

[Service]
User=vdr
#User=root
Environment=HOME=/etc/vectra130
ExecStart=/usr/bin/kodi -fs --standalone

[Install]
WantedBy=local-fs.target
