VDRPLUGINavahi4vdr=0
VDRPLUGINburn=0
VDRPLUGINchannellists=0
VDRPLUGINchanman=0
VDRPLUGINchanorg=0
VDRPLUGINdbus2vdr=1
VDRPLUGINclock=1
VDRPLUGINepg2vdr=1
VDRPLUGINepgsearch=0
VDRPLUGINfemon=0
VDRPLUGINfritzbox=1
VDRPLUGINlive=0
VDRPLUGINmarkad=0
VDRPLUGINmenuorg=1
VDRPLUGINneutrinoepg=0
VDRPLUGINosdteletext=1
VDRPLUGINpermashift=0
VDRPLUGINplex=0
VDRPLUGINrpihddevice=1
VDRPLUGINrecsearch=0
VDRPLUGINremoteosd=1
VDRPLUGINremotetimers=1
VDRPLUGINscraper2vdr=1
VDRPLUGINskinflatplus=0
VDRPLUGINskinflat=0
VDRPLUGINskinnopacity=0
VDRPLUGINskinpearlhd=0
VDRPLUGINsofthddevice=0
VDRPLUGINstreamdevclient=1
VDRPLUGINstreamdevserver=0
VDRPLUGINsuspendoutput=0
VDRPLUGINsundtek=0
VDRPLUGINsvdrposd=0
VDRPLUGINsvdrpservice=1
VDRPLUGINtext2skin=0
VDRPLUGINtvguide=0
VDRPLUGINtvscraper=0
VDRPLUGINvnsiserver3=0
VDRPLUGINvnsiserver4=0
VDRPLUGINwirbelscan=0
VDRPLUGINxineliboutput=0
