<?xml version='1.0' standalone='no'?><!--*-nxml-*-->
<!DOCTYPE service-group SYSTEM 'avahi-service.dtd'>


<service-group>
  <name replace-wildcards='yes'>VDR-Streaming-Client @ %h</name>
  <service>
    <type>_VDR-Streaming-Client._tcp</type>
    <port>6419</port>
    <txt-record>HW=RasPi</txt-record>
    <txt-record>MAC=B8:27:EB:D4:C1:0C</txt-record>
  </service>
</service-group>
