[Unit]
Description=StreamingClient
After=streamingclient-boot.service network.target avahi-daemon.service

[Service]
Restart=on-failure
ExecStart=/usr/bin/StreamingClient

[Install]
WantedBy=default.target
