[Unit]
Description=StreamingClient
DefaultDependencies=no
#Wants=streamingclient-boot.service
After=streamingclient-boot.service network.target avahi-daemon.service

[Service]
Environment='ARGS=-d'
ExecStart=/etc/vectra130/bin/StreamingClient $ARGS
#ExecStop=/usr/bin/killall StreamingClient
ExecStop=/etc/vectra130/scripts/powertest.sh
#Restart=on-failure
#Restart=on-abort
RemainAfterExit=true
Type=oneshot
#Type=simple
#PIDFile=/var/run/StreamingClient.pid
KillMode=none
SendSIGKILL=no

[Install]
WantedBy=default.target
